<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    {% include 'icon.html'%}
    <style>
      #okay{margin:0 auto 0 auto;}
    </style>
  </head>
    <title>
      FREE LANCING
    </title>
  </head>
  <body> 
   <p><div id="okay"><div class="container">
      <div class="d-flex p-2 ">
    <img src="static/logo.png" height="200" width="240" style='float:left'>
    <h1  class="text-center mt-4 mb-0 ms-5 me-5"><br>
    FREE LANCING 
    </h1><div class="mt-5 ms-5">
        <br><button type="button" class="btn">India</button>
        <button type="button" class="btn">USA</button>
        <button type="button" class="btn">EUROPE</button>
      <button type="button" class="btn">OTHER</button>
        <button type="button" class="btn btn-danger ms-2">Login</button>
      
    </div>
    </div>
      {%include 'Navbar.html'%}
    <center><img id="banner" src=https://new-project-3.aimgod07.repl.co/static/dj.jpg
      height="450"width="1000" ></center>
   <h2 align ="center">ABOUT FREE LANCING
   </h2>
    {%include 'paragraph1.html'%}
    <h3 align="center">Jobs
    </h3>
      {% for job in Jobs %}
     {% include 'jobitem.html'%}
      {% endfor %}
    <h3 align="center">
    <b><font color=" black">  Seeking for Learning</font></b>
    </h3>
    <div class= "row">
      <div class ="col-10">
      <div>  <img src="static/Learning.jpg" style="float:left" height="250" width="220"></div>
      <div class="mt-3 border-bottom row" style ="margin-bottom:16px; padding-bottom: 8px;">
      {%include 'paragraph2.html'%}
      </div>
      
      <div class ="col-2 mt-4"><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://www.freecodecamp.org/"> Free Courses</a>
         <div class="col">
      <div class="p-3 mt-5"><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"  href="https://www.upwork.com/resources/what-is-freelancing">More About Free Lancing</a></div>
         </div> 
      </div>
    </div>
      <div class="container text-center">
     <button type="button" class="btn btn-outline-primary mt-5">Contact Us</button>
    </div>
    <div class="d-grid gap-2 d-md-block"><button type="button" style ="float:left" class="btn btn-outline-primary ">More About Us</button></div>
     <div class="mx-auto p-2" style="width: 170px;"> Copyright 2023, IGN</div>
  </div>
    </div></p>
     </body>
</html>