<!DOCTYPE html>
<html>
  <head>
    <style> h1{
   font-size: 80px;
   font-family: Roboto;
  font-weight: normal;
   color: rgb(100,60,20)
    }
      h2{font-family:Roboto;}
    #banner{
    object-fit:cover;}
      #container{
        max-width: 720px;
        margin:0 auto 0 auto;
        font-size:20px;
      }
      h3{margin: 50px 0 0 0}
    </style>
    <title>
      First Project
    </title>
  </head>
  <body>
    <h1 align="center">FREE LANCING TUTORIALS </h1>
    <center><img id="banner" src=https://new-project-3.aimgod07.repl.co/static/dj.jpg
      height="450"width="1000" ></center>
   <h2 align ="center">ABOUT FREE LANCING
   </h2>
    <div id="container"> <p>Freelancing is doing specific work for clients without committing to full-time employment. Freelancers often take on multiple projects with different clients simultaneously. The Internal Revenue Service (IRS) considers freelancers to be self-employed individuals

Freelancers handle contract work on a part-time or full-time basis and often sign agreements before starting projects.

With freelancing, the client pays per project, per task, or per hour, depending on the agreement. Freelance projects typically involve short-term assignments, although satisfied clients often request follow-on work. Most freelance jobs are available in the skills, service, and creative sectors, such as copywriting, programming, engineering, and marketing.</p></div>
    <h3 align="center">Job apportunities
    </h3>
    <h3 align="center">
      Seeking for Learning
    </h3>
    <div style="text-align:right;"><button>Contact Us</button></div>
    <button>More About Us</button>
  </body>
</html>