<!DOCTYPE html>
<html>
  <head>
    <style> 
    </style>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
    <title>
      First Project
    </title>
  </head>
  <body>
    <div class="container">
    <h1 class="text-center mt-4 mb-4">FREE LANCING TUTORIALS </h1>
    <center><img id="banner" src=https://new-project-3.aimgod07.repl.co/static/dj.jpg
      height="450"width="1000" ></center>
   <h2 align ="center">ABOUT FREE LANCING
   </h2>
    <div> <p>Freelancing is doing specific work for clients without committing to full-time employment. Freelancers often take on multiple projects with different clients simultaneously. The Internal Revenue Service (IRS) considers freelancers to be self-employed individuals

Freelancers handle contract work on a part-time or full-time basis and often sign agreements before starting projects.

With freelancing, the client pays per project, per task, or per hour, depending on the agreement. Freelance projects typically involve short-term assignments, although satisfied clients often request follow-on work. Most freelance jobs are available in the skills, service, and creative sectors, such as copywriting, programming, engineering, and marketing.</p></div>
    <h3 align="center">Jobs
    </h3>
      {% for job in Jobs %}
     {% include 'jobitem.html'%}
      {% endfor %}
    <h3 align="center">
    <b><font color=" black">  Seeking for Learning</font></b>
    </h3>
    <div class= "row">
      <div class ="col-10">
      <div>  <img src="static/Learning.jpg" style="float:left" height="250" width="220"></div>
      <div class="mt-3 border-bottom row" style ="margin-bottom:16px; padding-bottom: 8px;">
        <p class="mt-2 container text-center">One of the advantages of being a freelancer is that you have much more freedom than when you work for someone else. You're essentially running your own business, and it's up to you which new clients you take on, what your hourly rate is, and what hours you work.</p></div>
        <p class="text-center">They include communication skills, working with and relating to others, problem-solving, applying initiative and IT skills. Having a good sense of humour and being a great person to work with goes a long way too. Your other skills are all the other skills, knowledge and hobbies you have.
      </p>
      </div>
      
      <div class ="col-2 mt-4"><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://www.freecodecamp.org/"> Free Courses</a>
         <div class="col">
      <div class="p-3 mt-5"><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"  href="https://www.upwork.com/resources/what-is-freelancing">More About Free Lancing</a></div>
         </div> 
      </div>
    </div>
      <div class="container text-center">
     <button type="button" class="btn btn-outline-primary mt-5">Contact Us</button>
    </div>
    <div class="d-grid gap-2 d-md-block"><button type="button" style ="float:left" class="btn btn-outline-primary ">More About Us</button></div>
     <div class="mx-auto p-2" style="width: 170px;"> Copyright 2023, IGN</div>
     </div>
     </body>
</html>